<h1 class="center">Categories</h1>

<%= will_paginate %>
<table class="table table-hover">
  <thead>
    <tr><th>Category</th></tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %> - <small><%= pluralize(category.articles.count, "article") %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
