<div class="container">
  <footer>
    <small>
      Copyright &copy; <a href="https://www.udemy.com" target="_blank">The Complete Ruby on Rails Developer Course</a>
    </small>

    <nav>
      <ul>
        <li> <%= link_to "About", about_path %> </li>
      </ul>
    </nav>
  </footer>
</div>
